body {
    background: #f5f5f5e5;
}
.Main {
    text-align: center;
}
.principal {
    background-color: thistle;
    display: grid;
    place-items: center;
    place-content: center;
    grid-template: repeat(6, 1fr) / repeat(4, 1fr);
    gap: 5px;
    padding: 5px;
}
.retorna {
    grid-area: 1 / 1 /2 / 5;
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
h4 {
    background-color: whitesmoke;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}